<div class="d-flex flex-wrap justify-content-start">
    <div class="mb-3 me-3 d-flex align-items-center">
        <label class="me-2">Tunning:</label>
        <select name="selectTunning" class="form-select" aria-label="Root note" [(ngModel)]="guitarTunning" (change)="onTunningChange()">
            <option *ngFor="let tunning of guitarTunnings" [ngValue]="tunning">{{tunning.name}}</option>
        </select>
    </div>
    <div class="mb-3 me-3 d-flex align-items-center">
        <label class="me-2">Root&nbsp;note:</label>
        <select name="selectRootNote" class="form-select" aria-label="Root note" [(ngModel)]="rootNote" (change)="onRootNoteChange()">
            <option *ngFor="let note of musicalNotes" [ngValue]="note">{{note}}</option>
        </select>
    </div>
    <div class="mb-3 me-3 d-flex align-items-center">
        <label class="me-2">Scale:</label>
        <select name="selectScale" class="form-select" aria-label="Scale" [(ngModel)]="musicalScale" (change)="onMusicalScaleChange()">
            <option *ngFor="let scale of musicalScales" [ngValue]="scale">{{scale.name}}</option>
        </select>
    </div>
</div>
